@font-face {
	font-family: "Product Sans Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Regular"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Regular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Regular.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Italic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Italic.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Thin Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Thin Regular"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Thin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Thin.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Light Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Light Regular"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Light.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Light.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Medium Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Medium Regular"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Medium.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main//ProductSans-Medium.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Black Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Black Regular"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Black.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Black.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Thin Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Thin Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-ThinItalic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-ThinItalic.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Light Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Light Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-LightItalic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-LightItalic.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Medium Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Medium Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-MediumItalic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-MediumItalic.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Bold"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-Bold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-Bold.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Bold Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Bold Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-BoldItalic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-BoldItalic.ttf")
			format("ttf");
}

@font-face {
	font-family: "Product Sans Black Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Product Sans Black Italic"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/woff/ProductSans-BlackItalic.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/Epikest/Product-Sans@main/ttf/ProductSans-BlackItalic.ttf")
			format("ttf");
}
